<!DOCTYPE HTML>
<html lang="en" class="ks-phone">
  <head>
    <meta charset="utf-8">
    <meta name="aplus-terminal" content="1" />
    <meta name="apple-mobile-web-app-title" content="vote" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="spm-id" content="a222t.7900232">
    <meta name="format-detection" content="telephone=no, address=no">

    <title>scripts</title>
    <link rel="stylesheet" href="/static/vux/dist/vux.css">
    <script src="/static/vux/vue.js"></script>
  </head>
  <body>

    <!--include the components you need-->
    <script src="/static/vux/dist/components/actionsheet/index.js"></script>
    <script src="/static/vux/dist/components/address/index.js"></script>
    <script src="/static/vux/dist/components/alert/index.js"></script>
    <script src="/static/vux/dist/components/badge/index.js"></script>
    <script src="/static/vux/dist/components/blur/index.js"></script>
    <script src="/static/vux/dist/components/box/index.js"></script>
    <script src="/static/vux/dist/components/button-tab/index.js"></script>
    <script src="/static/vux/dist/components/button-tab-item/index.js"></script>
    <script src="/static/vux/dist/components/calendar/index.js"></script>
    <script src="/static/vux/dist/components/card/index.js"></script>
    <script src="/static/vux/dist/components/cell/index.js"></script>
    <script src="/static/vux/dist/components/checker/index.js"></script>
    <script src="/static/vux/dist/components/checker-item/index.js"></script>
    <script src="/static/vux/dist/components/checklist/index.js"></script>
    <script src="/static/vux/dist/components/circle/index.js"></script>
    <script src="/static/vux/dist/components/clocker/index.js"></script>
    <script src="/static/vux/dist/components/color-picker/index.js"></script>
    <script src="/static/vux/dist/components/confirm/index.js"></script>
    <script src="/static/vux/dist/components/countdown/index.js"></script>
    <script src="/static/vux/dist/components/countup/index.js"></script>
    <script src="/static/vux/dist/components/date-formatter/index.js"></script>
    <script src="/static/vux/dist/components/datetime/index.js"></script>
    <script src="/static/vux/dist/components/dev-tip/index.js"></script>
    <script src="/static/vux/dist/components/dialog/index.js"></script>
    <script src="/static/vux/dist/components/divider/index.js"></script>
    <script src="/static/vux/dist/components/flexbox/index.js"></script>
    <script src="/static/vux/dist/components/flexbox-item/index.js"></script>
    <script src="/static/vux/dist/components/friendly-time/index.js"></script>
    <script src="/static/vux/dist/components/group/index.js"></script>
    <script src="/static/vux/dist/components/group-title/index.js"></script>
    <script src="/static/vux/dist/components/icon/index.js"></script>
    <script src="/static/vux/dist/components/inline-calendar/index.js"></script>
    <script src="/static/vux/dist/components/inline-desc/index.js"></script>
    <script src="/static/vux/dist/components/inview/index.js"></script>
    <script src="/static/vux/dist/components/loading/index.js"></script>
    <script src="/static/vux/dist/components/masker/index.js"></script>
    <script src="/static/vux/dist/components/number-roller/index.js"></script>
    <script src="/static/vux/dist/components/orientation/index.js"></script>
    <script src="/static/vux/dist/components/panel/index.js"></script>
    <script src="/static/vux/dist/components/picker/index.js"></script>
    <script src="/static/vux/dist/components/popup/index.js"></script>
    <script src="/static/vux/dist/components/popup-picker/index.js"></script>
    <script src="/static/vux/dist/components/previewer/index.js"></script>
    <script src="/static/vux/dist/components/progress/index.js"></script>
    <script src="/static/vux/dist/components/qrcode/index.js"></script>
    <script src="/static/vux/dist/components/radio/index.js"></script>
    <script src="/static/vux/dist/components/range/index.js"></script>
    <script src="/static/vux/dist/components/rater/index.js"></script>
    <script src="/static/vux/dist/components/scroller/index.js"></script>
    <script src="/static/vux/dist/components/search/index.js"></script>
    <script src="/static/vux/dist/components/selector/index.js"></script>
    <script src="/static/vux/dist/components/shake/index.js"></script>
    <script src="/static/vux/dist/components/spinner/index.js"></script>
    <script src="/static/vux/dist/components/sticky/index.js"></script>
    <script src="/static/vux/dist/components/swiper/index.js"></script>
    <script src="/static/vux/dist/components/swiper-item/index.js"></script>
    <script src="/static/vux/dist/components/switch/index.js"></script>
    <script src="/static/vux/dist/components/tab/index.js"></script>
    <script src="/static/vux/dist/components/tab-item/index.js"></script>
    <script src="/static/vux/dist/components/tabbar/index.js"></script>
    <script src="/static/vux/dist/components/tabbar-item/index.js"></script>
    <script src="/static/vux/dist/components/timeline/index.js"></script>
    <script src="/static/vux/dist/components/timeline-item/index.js"></script>
    <script src="/static/vux/dist/components/tip/index.js"></script>
    <script src="/static/vux/dist/components/toast/index.js"></script>
    <script src="/static/vux/dist/components/wechat-emotion/index.js"></script>
    <script src="/static/vux/dist/components/x-button/index.js"></script>
    <script src="/static/vux/dist/components/x-header/index.js"></script>
    <script src="/static/vux/dist/components/x-img/index.js"></script>
    <script src="/static/vux/dist/components/x-input/index.js"></script>
    <script src="/static/vux/dist/components/x-number/index.js"></script>
    <script src="/static/vux/dist/components/x-textarea/index.js"></script>
    <script>
    // register components
    Vue.component("actionsheet", vuxActionsheet);
    Vue.component("address", vuxAddress);
    Vue.component("alert", vuxAlert);
    Vue.component("badge", vuxBadge);
    Vue.component("blur", vuxBlur);
    Vue.component("box", vuxBox);
    Vue.component("button-tab", vuxButtonTab);
    Vue.component("button-tab-item", vuxButtonTabItem);
    Vue.component("calendar", vuxCalendar);
    Vue.component("card", vuxCard);
    Vue.component("cell", vuxCell);
    Vue.component("checker", vuxChecker);
    Vue.component("checker-item", vuxCheckerItem);
    Vue.component("checklist", vuxChecklist);
    Vue.component("circle", vuxCircle);
    Vue.component("clocker", vuxClocker);
    Vue.component("color-picker", vuxColorPicker);
    Vue.component("confirm", vuxConfirm);
    Vue.component("countdown", vuxCountdown);
    Vue.component("countup", vuxCountup);
    Vue.component("date-formatter", vuxDateFormatter);
    Vue.component("datetime", vuxDatetime);
    Vue.component("dev-tip", vuxDevTip);
    Vue.component("dialog", vuxDialog);
    Vue.component("divider", vuxDivider);
    Vue.component("flexbox", vuxFlexbox);
    Vue.component("flexbox-item", vuxFlexboxItem);
    Vue.component("friendly-time", vuxFriendlyTime);
    Vue.component("group", vuxGroup);
    Vue.component("group-title", vuxGroupTitle);
    Vue.component("icon", vuxIcon);
    Vue.component("inline-calendar", vuxInlineCalendar);
    Vue.component("inline-desc", vuxInlineDesc);
    Vue.component("inview", vuxInview);
    Vue.component("loading", vuxLoading);
    Vue.component("masker", vuxMasker);
    Vue.component("number-roller", vuxNumberRoller);
    Vue.component("orientation", vuxOrientation);
    Vue.component("panel", vuxPanel);
    Vue.component("picker", vuxPicker);
    Vue.component("popup", vuxPopup);
    Vue.component("popup-picker", vuxPopupPicker);
    Vue.component("previewer", vuxPreviewer);
    Vue.component("progress", vuxProgress);
    Vue.component("qrcode", vuxQrcode);
    Vue.component("radio", vuxRadio);
    Vue.component("range", vuxRange);
    Vue.component("rater", vuxRater);
    Vue.component("scroller", vuxScroller);
    Vue.component("search", vuxSearch);
    Vue.component("selector", vuxSelector);
    Vue.component("shake", vuxShake);
    Vue.component("spinner", vuxSpinner);
    Vue.component("sticky", vuxSticky);
    Vue.component("swiper", vuxSwiper);
    Vue.component("swiper-item", vuxSwiperItem);
    Vue.component("switch", vuxSwitch);
    Vue.component("tab", vuxTab);
    Vue.component("tab-item", vuxTabItem);
    Vue.component("tabbar", vuxTabbar);
    Vue.component("tabbar-item", vuxTabbarItem);
    Vue.component("timeline", vuxTimeline);
    Vue.component("timeline-item", vuxTimelineItem);
    Vue.component("tip", vuxTip);
    Vue.component("toast", vuxToast);
    Vue.component("wechat-emotion", vuxWechatEmotion);
    Vue.component("x-button", vuxXButton);
    Vue.component("x-header", vuxXHeader);
    Vue.component("x-img", vuxXImg);
    Vue.component("x-input", vuxXInput);
    Vue.component("x-number", vuxXNumber);
    Vue.component("x-textarea", vuxXTextarea);
    </script>

    <div id="apply-form">
      <div>
        <ul>
          <li
            is="onePerson"
            v-for="(idx, person) in persons"
            v-bind:person="person"
            v-bind:idx="idx"
            v-on:remove="persons.splice(idx, 1)"\
          ></li>
        </ul>
      </div> <!-- persons -->

      <x-button v-on:click="addNewPerson" type="primary">+AddNewPerson</x-button>

      <div class="content-block-title"></div>
      <div class="list-block">
        <ul>
          <li>
            <a href="#" class="item-content item-link">
              <div class="item-inner">
                <div class="item-title">
                  <span style="color:#0894ec;"> 活动协议及免责条款</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <label class="label-checkbox item-content">
              <input type="checkbox" name="checkbox" id="regText">
              <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
              <div class="item-inner">
                <div class="item-title">
                  <input type="checkbox" class="checked" >
                    <span style="font-size:0.8rem;">本人已阅读并知悉，同意以上规则</span>
                  </input>
                </div>
              </div>
            </label>
          </li>
        </ul>
      </div>

      <cell title="总计: " :value="total"></cell>
      <x-button v-on:click="submit">Submit</x-button>
    </div> <!-- apply-form -->

    <script>
    Vue.component('menuItem', {
      template: '\
        <group :title=menu.name>\
          <checklist :options="menu.stockItems" \
            :value.sync="menu.stockItemSelected" \
            :min="menu.min" :max="menu.max" \
            :required=menu.singleSelection \
            @on-change="change"></checklist>\
        </group>\
      ',
      props: ['idx','menu'],
      methods: {
        change: function (val) {
          console.log('change', val);
          // console.log(this.menu);
          // console.log(this.$parent);
          // console.log(this.$parent.$parent.persons);

          var total = 0;
          for (i in this.$parent.$parent.persons) {
            person = this.$parent.$parent.persons[i];
            console.log('person', person);
            // {'name':'','singleSelection':true,'min':1,'max':1,'stockItemSelected':[]}
            for (j in person.menu) {
              menu = person.menu[j];
              console.log('menu', menu);

              for (k in menu.stockItemSelected) {
                select = menu.stockItemSelected[k];
                console.log('select', select);

                for (m in this.$parent.$parent.menuTemplate) {
                  menuTemplate = this.$parent.$parent.menuTemplate[m];
                  for (n in menuTemplate.stockItems) {
                    stock = menuTemplate.stockItems[n];
                    if (stock.id == select) {
                      total += stock.unitFee;
                      break;
                    }
                  }
                }
              }
            }
          }
          console.log('total', total);
          this.$parent.$parent.total = total;
        },
      }
    })

    Vue.component('applyItem', {
      template: '\
        <x-input v-if="field.type == 200" type="text" :value.sync="field.value" :placeholder=field.fieldName></x-input>\
        <x-input v-if="field.type == 203" type="text" :value.sync="field.value" :placeholder=field.fieldName></x-input>\
        <div v-if="field.type == 201">\
          <label>&nbsp;&nbsp;{{! field.fieldName }}<label>\
          <radio :options="field.options" :value.sync="field.value" value="field.value"></radio>\
        </div>\
        <checklist v-if="field.type == 202" :title=field.fieldName :options="field.options" :value.sync="field.value" :required="field.required"></checklist>\
      ',
      props: ['idx','field'],
      methods: {
      }
    })

    Vue.component('onePerson', {
      template: '\
        <li>\
          <div \
            is="menuItem"\
            v-for="(idx, menu) in person.menu"\
            v-bind:menu="menu"\
            v-bind:idx="idx"\
          ></div>\

          <group title="填写报名信息">\
            <div \
              is="applyItem"\
              v-for="(idx, field) in person.apply"\
              v-bind:field="field"\
              v-bind:idx="idx"\
            ></div>\
          </group>\

          <x-button v-on:click="$emit(\'remove\')" type="warn">Delete</x-button>\
        </li>\
      ',
      props: ['idx','person'],
      methods: {
      }
    })

    new Vue({
      el: '#apply-form',
      data: {
        applyTemplate: [
          {"type":200,"fieldName":"Name","required":true,"value":""},
          {"type":203,"fieldName":"Phone","required":true,"value":""},
          {"type":201,"fieldName":"Gender","required":true,"options":["Male","Female"],"value":"Male"},
          {"type":202,"fieldName":"Games","required":true,"options":["1KM","5KM","15KM"],"value":[]},
          {"type":200,"fieldName":"Note","required":false,"value":""},
        ],
        menuTemplate: [
          {"id":"374adeab6140485b94d75bf5b9377f3d",
            "menuId":"10a857f95431478a91ba520a61baa571",
            "name":"Basic",
            "singleSelection":true,
            "stockItems":[
              {"id":"2b5ea6fdafca44a5b030ec504908601f","name":"5KM","unitFee":0,"quantitySold":996,"quota":999},
              {"id":"f86138bda82c4c5783b263fc4915c0a4","name":"25KM","unitFee":1,"quantitySold":7,"quota":999},
              {"id":"7dd7bec246ff44418ca1818a6ca1412d","name":"50KM","unitFee":2,"quantitySold":0,"quota":999}
            ]},
          {"id":"4a957ac53b5a47e3a702f696080f751e",
            "menuId":"10a857f95431478a91ba520a61baa571",
            "name":"Extend",
            "singleSelection":false,"stockItems":[
              {"id":"33d119ece26c4b95898704d07596bad8","name":"hat","unitFee":1,"quantitySold":999,"quota":999},
              {"id":"e0f0032f00874313b38231e1d82decf5","name":"glove","unitFee":1,"quantitySold":3,"quota":999},
              {"id":"7e9068d049034996b320276d8f6af043","name":"shoes","unitFee":0,"quantitySold":0,"quota":999}
            ]}
        ],
        persons: [
        ],
        total: 0
      },
      created: function () {
        this.addNewPerson();
      },
      methods: {
        addNewPerson: function () {
          var person = {"apply":[],"menu":[]};

          var applyArray = new Array();
          for (var i in this.applyTemplate){
            var obj = {};
            var item = this.applyTemplate[i];
            if( item.type ==201 || item.type ==202){
              obj.type = item.type;
              obj.fieldName = item.fieldName;
              obj.required = item.required;
              obj.value = item.value;
              obj.options = item.options;
            }else{
              obj.type = item.type;
              obj.fieldName = item.fieldName;
              obj.required = item.required;
              obj.value = item.value;
            }
            applyArray.push(obj);
          }
          person.apply = applyArray;

          var menuArray = new Array();
          for (var i in this.menuTemplate){
            var obj = {};
            var menuItem = this.menuTemplate[i];
            var stockItemArray = new Array();
            for (var j in menuItem.stockItems){
              // {"id":"33d119ece26c4b95898704d07596bad8","name":"hat","unitFee":1,"quantitySold":999,"quota":999},
              var stockItem = menuItem.stockItems[j];
              var myStockItem = {};
              myStockItem.key = stockItem.id;
              // {"key":"33d119ece26c4b95898704d07596bad8","value":"hat---1/100元,'unitFee':1},
              myStockItem.value = stockItem.name + "---" + stockItem.unitFee/100 + "元";
              myStockItem.unitFee = stockItem.unitFee;
              stockItemArray.push(myStockItem);
            }
            obj.stockItems = stockItemArray;
            obj.name = menuItem.name;
            obj.singleSelection = menuItem.singleSelection;
            obj.stockItemSelected = [];
            // {'name':'','singleSelection':true,'min':1,'max':1,'stockItemSelected':[]}
            if (menuItem.singleSelection) {
              obj.min = 1;
              obj.max = 1;
              // 单选的默认为第一条
              obj.stockItemSelected.push(obj.stockItems[0].key);
            } else {
              obj.min = 0;
              obj.max = 999;
            }

            menuArray.push(obj);
          }
          person.menu = menuArray;

          this.persons.push(person);
          console.log(this.persons);
        },
        removePerson: function () {
          this.persons.splice(index, 1)
          console.log(this.persons);
        },
        submit: function () {
          console.log(this.persons);
        }
      },
      components: {
      }
    })
    </script>

  </body>
</html>
