<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>Hello Amaze UI</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="{{ static_url('amazeui/css/amazeui.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('amazeui/css/wap.css?2') }}">

</head>
<body>

<!--在这里编写你的代码-->
<div data-am-widget="list_news" class="am-list-news am-list-news-default" >
  <!--列表标题-->
    <div class="am-list-news-hd am-cf">
       <!--带更多链接-->
        <a href="##" class="">
          <h2>Hello Amaze UI.</h2>
            <span class="am-list-news-more am-fr">更多 &raquo;</span>
        </a>
      </div>
  <div class="am-list-news-bd">
  <ul class="am-list">
      <li class="am-g am-list-item-dated">
          <a href="/amazeui/1" class="am-list-item-hd ">1.首页</a>
          <span class="am-list-date">2013-09-18</span>
      </li>
      <li class="am-g am-list-item-dated">
          <a href="/amazeui/2" class="am-list-item-hd ">2.内容页</a>
          <span class="am-list-date">2013-10-14</span>
      </li>
      <li class="am-g am-list-item-dated">
          <a href="/amazeui/3" class="am-list-item-hd ">3.内容列表页</a>
          <span class="am-list-date">2013-11-18</span>
      </li>
      <li class="am-g am-list-item-dated">
          <a href="/amazeui/4" class="am-list-item-hd ">4.视频列表页</a>
          <span class="am-list-date">2013-11-18</span>
      </li>
      <li class="am-g am-list-item-dated">
          <a href="/amazeui/5" class="am-list-item-hd ">5.视频内容页</a>
          <span class="am-list-date">2013-11-18</span>
      </li>
      <li class="am-g am-list-item-dated">
          <a href="/amazeui/6" class="am-list-item-hd ">6.活动列表页</a>
          <span class="am-list-date">2013-11-18</span>
      </li>
      <li class="am-g am-list-item-dated">
          <a href="/amazeui/7" class="am-list-item-hd ">7.活动内容页</a>
          <span class="am-list-date">2013-11-18</span>
      </li>
      <li class="am-g am-list-item-dated">
          <a href="/amazeui/8" class="am-list-item-hd ">8.专题列表页</a>
          <span class="am-list-date">2013-11-18</span>
      </li>
      <li class="am-g am-list-item-dated">
          <a href="/amazeui/9" class="am-list-item-hd ">9.专栏内容页</a>
          <span class="am-list-date">2013-11-18</span>
      </li>
      <li class="am-g am-list-item-dated">
          <a href="/amazeui/10" class="am-list-item-hd ">10.私信内容页</a>
          <span class="am-list-date">2013-11-18</span>
      </li>
      <li class="am-g am-list-item-dated">
          <a href="/amazeui/11" class="am-list-item-hd ">11.个人中心</a>
          <span class="am-list-date">2013-11-18</span>
      </li>
      <li class="am-g am-list-item-dated">
          <a href="/amazeui/12" class="am-list-item-hd ">12.空间动态列表页</a>
          <span class="am-list-date">2013-11-18</span>
      </li>
      <li class="am-g am-list-item-dated">
          <a href="/amazeui/13" class="am-list-item-hd ">13.社区样例页</a>
          <span class="am-list-date">2013-11-18</span>
      </li>
      <li class="am-g am-list-item-dated">
          <a href="/amazeui/14" class="am-list-item-hd ">14.活动列表页</a>
          <span class="am-list-date">2013-11-18</span>
      </li>

  </ul>
  </div>

</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script type='text/javascript' src='{{ static_url("js/jquery-3.1.0.min.js") }}' charset='utf-8'></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script type='text/javascript' src='{{ static_url("amazeui/js/amazeui.min.js") }}' charset='utf-8'></script>
</body>
</html>
