<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="{{ static_url('amazeui/css/amazeui.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('amazeui/css/wap.css?2') }}">
  <title>传奇社区</title>
</head>
<body style="background:#ececec">
  <div class="pet_mian" >

    <!-- head -->
    <div class="pet_head">
      <header data-am-widget="header"
          class="am-header am-header-default pet_head_block">
        <div class="am-header-left am-header-nav ">
          <a href="#left-link" class="iconfont pet_head_jt_ico">&#xe601;</a>
        </div>
        <div class="am-header-right am-header-nav">
          <a href="javascript:;" class="iconfont pet_head_gd_ico">&#xe600;</a>
        </div>
      </header>
    </div>
    <!-- head -->

    <!-- content -->
    <div class="pet_content pet_content_list">
      <div class="pet_kjdt">
        <div class="pet_kjdt_nr">
          <!-- one pet -->
          <div class="pet_kjdt_block">
            <div class="pet_kjdt_user">
              <div class="pet_kjdt_user_l">
                <img src="/static/amazeui/img/qq1.png" alt="">
              </div>
              <div class="pet_kjdt_user_r">
                <div class="pet_kjdt_user_time"><i class="iconfont">&#xe617; </i> 19:15</div>
                <div class="pet_kjdt_user_r_title">Super invincible 菁</div>
                <div class="pet_kjdt_user_r_info">美国</div>
              </div>
            </div>

            <div class="pet_kjdt_user_r_font">2015Q3谷歌商店下载量系App Store近两倍 收入却落后80%，Google Play的应用下载量远远超过苹果的App Store，不过，苹果在应用收益方面仍然大幅领先于谷歌。</div>

            <div class="pet_kjdt_user_r_font_img">
              <figure data-am-widget="figure" class="am am-figure am-figure-default" data-am-figure="{  pureview: 'true' }">
                <img src="/static/amazeui/img/fl02.png" data-rel="/static/amazeui/img/fl02.png" alt="春天的花开秋天的风以及冬天的落阳"/>
              </figure>
            </div>

            <div class="pet_kjdt_user_r_like">
              <i class="am-icon-heart"></i> Super invincible、V.NPCat 等93人喜欢
            </div>

            <div class="pet_kjdt_user_pl">
              <div class="pet_kjdt_user_pl_block">
                <div class="pet_kjdt_user_pl_block_l"><img src="/static/amazeui/img/qq8.png" alt=""></div>
                <div class="pet_kjdt_user_pl_block_r">
                  <div class="pet_kjdt_user_pl_block_name">折跃中的执政猫</div>
                  <div class="pet_kjdt_user_pl_block_info">总会想起妖怪们的记忆 看着人类生死离别 相爱相恨 似乎他们才是最能体会到人世间冷暖的 但他们却又不懂人类的想法 就这么看着寂寞着。</div>
                </div>
              </div>
              <div class="pet_kjdt_user_pl_block">
                <div class="pet_kjdt_user_pl_block_l"><img src="/static/amazeui/img/qq6.png" alt=""></div>
                <div class="pet_kjdt_user_pl_block_r">
                  <div class="pet_kjdt_user_pl_block_name">思念着你</div>
                  <div class="pet_kjdt_user_pl_block_info">嗯呢，超爱OD，每首歌都很喜欢...不过渣渣离队太让人心碎了。</div>
                </div>
              </div>
            </div>
          </div>
          <!-- one pet -->
        </div>

        <div class="pet_kjdt_nr">
          <!-- one pet -->
          <div class="pet_kjdt_block">
            <div class="pet_sixin">
              <div class="pet_sixin_nr">
                <div class="pet_sixin_to">
                  <div class="pet_sixin_to_l">
                    <img src="/static/amazeui/img/qq1.png" alt="">
                  </div>
                  <div class="pet_sixin_to_r">
                    <div class="pet_sixin_to_r_nr">
                      <div class="pet_sixin_to_r_nr_sj"></div>
                      到爱尔兰印象最深刻的就是五彩缤纷小房子规则整齐排列在街道上，这样的小镇很多，爱戴尔是其中一座。
                    </div>
                  </div>
                  <div class="pet_sixin_shijian">昨天 12:19</div>
                </div>
              </div>
            </div>
          </div>
          <!-- one pet -->
        </div>

        <div class="pet_kjdt_nr">
          <!-- one pet -->
          <div class="pet_kjdt_block">
            <div class="pet_sixin">
              <div class="pet_sixin_nr">
                <div class="pet_sixin_form">
                  <div class="pet_sixin_form_l">
                    <img src="/static/amazeui/img/qq7.png" alt="">
                  </div>
                  <div class="pet_sixin_form_r">
                    <div class="pet_sixin_form_r_nr">
                    <div class="pet_sixin_form_r_nr_sj"></div>
                  到爱尔兰印象最深刻的就是五彩缤纷小房子规则整齐排列在街道上，这样的小镇很多，爱戴尔是其中一座，每家花园盛放着姹紫嫣红的花朵，以成片的茅草屋顶与绚丽色彩墙面组成的街道吸引很多欧洲人前往。
                    </div>
                  </div>
                  <div class="pet_sixin_shijian">昨天 12:36</div>
                </div>
              </div>
            </div>
          </div>
          <!-- one pet -->
        </div>

        <div class="pet_kjdt_nr">
          <!-- one pet -->
          <div class="pet_kjdt_block">
            <div class="pet_sixin">
              <div class="pet_sixin_nr">
                <div class="pet_sixin_to">
                  <div class="pet_sixin_to_l">
                    <img src="/static/amazeui/img/qq1.png" alt="">
                  </div>
                  <div class="pet_sixin_to_r">
                    <div class="pet_sixin_to_r_nr">
                    <div class="pet_sixin_to_r_nr_sj"></div>
                      <img src="/static/amazeui/img/a2.jpg" alt="">
                    </div>
                  </div>
                  <div class="pet_sixin_shijian">12:19</div>
                </div>
              </div>
            </div>
          </div>
          <!-- one pet -->
        </div>

        <div class="pet_kjdt_nr">
          <!-- one pet -->
          <div class="pet_kjdt_block">
            <div class="pet_kjdt_user">
              <div class="pet_kjdt_user_l">
                <img src="/static/amazeui/img/qq1.png" alt="">
              </div>
              <div class="pet_kjdt_user_r">
                <div class="pet_kjdt_user_time"><i class="iconfont">&#xe617; </i> 19:15</div>
                <div class="pet_kjdt_user_r_title">Super invincible 菁</div>
                <div class="pet_kjdt_user_r_info">美国</div>
              </div>
            </div>

            <div class="pet_kjdt_user_r_font">2015Q3谷歌商店下载量系App Store近两倍 收入却落后80%，Google Play的应用下载量远远超过苹果的App Store，不过，苹果在应用收益方面仍然大幅领先于谷歌。</div>

            <div class="pet_kjdt_user_r_font_img">
              <figure data-am-widget="figure" class="am am-figure am-figure-default" data-am-figure="{  pureview: 'true' }">
                <img src="/static/amazeui/img/fl02.png" data-rel="/static/amazeui/img/fl02.png" alt="春天的花开秋天的风以及冬天的落阳"/>
              </figure>
            </div>

            <div class="pet_kjdt_user">
              <div class="pet_zlnr_user_list_l">
                <img src="/static/amazeui/img/qq2.png" alt="">
                <img src="/static/amazeui/img/qq3.png" alt="">
                <img src="/static/amazeui/img/qq4.png" alt="">
                <div class="pet_zlnr_user_list_l_num">+56</div>
                <div class="pet_zlnr_user_list_l_num_font">喜欢</div>
              </div>
              <div class="pet_zlnr_user_list_r">
                <div class="pet_zlnr_user_list_r">15 条回复</div>
              </div>
            </div>

            <div class="pet_kjdt_user_pl">
              <div class="pet_kjdt_user_pl_block">
                <div class="pet_kjdt_user_pl_block_l"><img src="/static/amazeui/img/qq8.png" alt=""></div>
                <div class="pet_kjdt_user_pl_block_r">
                  <div class="pet_kjdt_user_pl_block_name">折跃中的执政猫</div>
                  <div class="pet_kjdt_user_pl_block_info">总会想起妖怪们的记忆 看着人类生死离别 相爱相恨 似乎他们才是最能体会到人世间冷暖的 但他们却又不懂人类的想法 就这么看着寂寞着。</div>
                </div>
              </div>
              <div class="pet_kjdt_user_pl_block">
                <div class="pet_kjdt_user_pl_block_l"><img src="/static/amazeui/img/qq6.png" alt=""></div>
                <div class="pet_kjdt_user_pl_block_r">
                  <div class="pet_kjdt_user_pl_block_name">思念着你</div>
                  <div class="pet_kjdt_user_pl_block_info">嗯呢，超爱OD，每首歌都很喜欢...不过渣渣离队太让人心碎了。</div>
                </div>
              </div>
            </div>
          </div>
          <!-- one pet -->
        </div>

        <div class="pet_kjdt_nr">
          <!-- one pet -->
          <div class="pet_kjdt_block">
            <div class="pet_kjdt_user">
              <div class="pet_kjdt_user_l">
                <img src="/static/amazeui/img/qq1.png" alt="">
              </div>
              <div class="pet_kjdt_user_r">
                <div class="pet_kjdt_user_time"><i class="iconfont">&#xe617; </i> 19:15</div>
                <div class="pet_kjdt_user_r_title">Super invincible 菁</div>
                <div class="pet_kjdt_user_r_info">美国</div>
              </div>
            </div>

            <div class="pet_kjdt_user_r_font">2015Q3谷歌商店下载量系App Store近两倍 收入却落后80%，Google Play的应用下载量远远超过苹果的App Store，不过，苹果在应用收益方面仍然大幅领先于谷歌。</div>

            <div class="am-list-main">
              <ul data-am-widget="gallery" class="am-gallery am-avg-sm-3
                am-avg-md-3 am-avg-lg-3 am-gallery-default pet_list_one_list" >
                <li>
                  <div class="am-gallery-item">
                    <a href="###" class="">
                      <img src="/static/amazeui/img/qq1.jpg"  alt="某天 也许会相遇 相遇在这个好地方"/>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="am-gallery-item">
                    <a href="###" class="">
                      <img src="/static/amazeui/img/qq2.jpg"  alt="不要太担心 只因为我相信"/>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="am-gallery-item">
                    <a href="###" class="">
                      <img src="/static/amazeui/img/qq3.jpg"  alt="终会走过这条遥远的道路"/>
                    </a>
                  </div>
                </li>
                <li>
                  <div class="am-gallery-item">
                    <a href="###" class="">
                      <img src="/static/amazeui/img/w1.jpg"  alt="某天 也许会相遇 相遇在这个好地方"/>
                    </a>
                  </div>
                </li>
              </ul>
            </div>

            <div class="pet_kjdt_user">
              <div class="pet_zlnr_user_list_l">
                <img src="/static/amazeui/img/qq2.png" alt="">
                <img src="/static/amazeui/img/qq3.png" alt="">
                <img src="/static/amazeui/img/qq4.png" alt="">
                <div class="pet_zlnr_user_list_l_num">+56</div>
                <div class="pet_zlnr_user_list_l_num_font">喜欢</div>
              </div>
              <div class="pet_zlnr_user_list_r">
                <div class="pet_zlnr_user_list_r">15 条回复</div>
              </div>
            </div>

            <div class="pet_kjdt_user_pl">
              <div class="pet_kjdt_user_pl_block">
                <div class="pet_kjdt_user_pl_block_l"><img src="/static/amazeui/img/qq8.png" alt=""></div>
                <div class="pet_kjdt_user_pl_block_r">
                  <div class="pet_kjdt_user_pl_block_name">折跃中的执政猫</div>
                  <div class="pet_kjdt_user_pl_block_info">总会想起妖怪们的记忆 看着人类生死离别 相爱相恨 似乎他们才是最能体会到人世间冷暖的 但他们却又不懂人类的想法 就这么看着寂寞着。</div>
                </div>
              </div>
              <div class="pet_kjdt_user_pl_block">
                <div class="pet_kjdt_user_pl_block_l"><img src="/static/amazeui/img/qq6.png" alt=""></div>
                <div class="pet_kjdt_user_pl_block_r">
                  <div class="pet_kjdt_user_pl_block_name">思念着你</div>
                  <div class="pet_kjdt_user_pl_block_info">嗯呢，超爱OD，每首歌都很喜欢...不过渣渣离队太让人心碎了。</div>
                </div>
              </div>
            </div>
          </div>
          <!-- one pet -->
        </div>

        <div class="pet_kjdt_nr">
          <!-- one pet -->
          <div class="pet_kjdt_block">
            <div class="pet_kjdt_user">
              <div class="pet_kjdt_user_l">
                <img src="/static/amazeui/img/qq1.png" alt="">
              </div>
              <div class="pet_kjdt_user_r">
                <div class="pet_kjdt_user_time"><i class="iconfont">&#xe617; </i> 19:15</div>
                <div class="pet_kjdt_user_r_title">Super invincible 菁</div>
                <div class="pet_kjdt_user_r_info">美国</div>
              </div>
            </div>

            <div class="pet_kjdt_user_r_font">2015Q3谷歌商店下载量系App Store近两倍 收入却落后80%，Google Play的应用下载量远远超过苹果的App Store，不过，苹果在应用收益方面仍然大幅领先于谷歌。</div>

            <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default pet_content_article" data-am-paragraph="{ tableScrollable: true, pureview: true }">
              <embed src="http://player.youku.com/player.php/sid/XMzkyNzU5ODY4/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
              <ul class="like_share_block">
                <li><a class="link_share_button" href="###"><i class="iconfont share_ico_link">&#xe62f;</i>1460</a></li>
                <li><a class="link_share_button" href="###"><i class="iconfont share_ico_wx">&#xe630;</i>微信</a></li>
                <li><a class="link_share_button" href="###"><i class="iconfont share_ico_pyq">&#xe62e;</i>朋友圈</a></li>
              </ul>
            </article>

            <div class="pet_kjdt_user">
              <div class="pet_zlnr_user_list_l">
                <img src="/static/amazeui/img/qq2.png" alt="">
                <img src="/static/amazeui/img/qq3.png" alt="">
                <img src="/static/amazeui/img/qq4.png" alt="">
                <div class="pet_zlnr_user_list_l_num">+56</div>
                <div class="pet_zlnr_user_list_l_num_font">喜欢</div>
              </div>
              <div class="pet_zlnr_user_list_r">
                <div class="pet_zlnr_user_list_r">15 条回复</div>
              </div>
            </div>

            <div class="pet_kjdt_user_pl">
              <div class="pet_kjdt_user_pl_block">
                <div class="pet_kjdt_user_pl_block_l"><img src="/static/amazeui/img/qq8.png" alt=""></div>
                <div class="pet_kjdt_user_pl_block_r">
                  <div class="pet_kjdt_user_pl_block_name">折跃中的执政猫</div>
                  <div class="pet_kjdt_user_pl_block_info">总会想起妖怪们的记忆 看着人类生死离别 相爱相恨 似乎他们才是最能体会到人世间冷暖的 但他们却又不懂人类的想法 就这么看着寂寞着。</div>
                </div>
              </div>
              <div class="pet_kjdt_user_pl_block">
                <div class="pet_kjdt_user_pl_block_l"><img src="/static/amazeui/img/qq6.png" alt=""></div>
                <div class="pet_kjdt_user_pl_block_r">
                  <div class="pet_kjdt_user_pl_block_name">思念着你</div>
                  <div class="pet_kjdt_user_pl_block_info">嗯呢，超爱OD，每首歌都很喜欢...不过渣渣离队太让人心碎了。</div>
                </div>
              </div>
            </div>
          </div>
          <!-- one pet -->
        </div>

        <div class="pet_kjdt_nr">
          <!-- one pet -->
          <div class="pet_kjdt_block">
            <div class="pet_article_user_block">
              <div class="pet_article_user_img">
                <div class="pet_article_user_shadow"></div>
                <div class="pet_article_user_title">一周在任意地点工作三天？</div>
                <img src="/static/amazeui/img/c2.png" alt=""></div>
                <div class="pet_article_user_info">
                  <div class="pet_article_user_info_ico"><img src="/static/amazeui/img/c.png" alt=""></div>SeeYouAgain
                </div>
                <div class="am-list-item-text pet_article_user_nr">这是一家帮助客户在亚太地区找到适合的打折酒店的中介机构，在全球设立了9个办事处，老板克里斯蒂安·米施勒宣称要把它打造成世界上最棒的公司。</div>
              </div>
            </div>
          </div>
          <!-- one pet -->
        </div>
        <!-- pet_kjdt_nr -->

      </div>
      <!-- pet_kjdt -->

      <!-- like -->
      <div class="pet_article_like">
        <div class="pet_article_like_title">猜你喜欢</div>
        <div class="pet_content_main pet_article_like_delete">
          <div data-am-widget="list_news" class="am-list-news am-list-news-default am-no-layout">
          <div class="am-list-news-bd">
          <ul class="am-list">
            <!--缩略图在标题右边-->
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-right pet_list_one_block">
              <div class="pet_list_one_info">
                <div class="pet_list_one_info_l">
                  <div class="pet_list_one_info_ico"><img src="/static/amazeui/img/a1.png" alt=""></div>
                  <div class="pet_list_one_info_name">Super invincible 菁 </div>
                </div>
                <div class="pet_list_one_info_r">
                  <div class="pet_list_tag pet_list_tag_xxs">新鲜事</div>
                </div>
              </div>
              <div class=" am-u-sm-8 am-list-main pet_list_one_nr">
                <h3 class="am-list-item-hd pet_list_one_bt"><a href="###" class="">十一长假哪也不去，宅在家里看电影！</a></h3>
                <div class="am-list-item-text pet_list_one_text">每逢长假，总有那么一群人选择远离人山人海，静静地呆在家，坐在电脑电视前。长时间的工作学习让他们感觉很疲惫，对什么都提不起劲，打开电脑却不知道干什么好…</div>
              </div>
              <div class="am-u-sm-4 am-list-thumb">
                <a href="###" class="">
                  <img src="/static/amazeui/img/q1.jpg" class="pet_list_one_img" alt=""/>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <!-- like -->
      </div>
      <!-- pet_kjdt -->

    </div>
    <!-- content -->

    <!-- download -->
    <div class="pet_article_dowload">
      <div class="pet_article_dowload_title">关于Amaze UI</div>
      <div class="pet_article_dowload_content">
        <div class="pet_article_dowload_triangle">
        </div>
        <div class="pet_article_dowload_ico">
          <img src="/static/amazeui/img/footdon.png" alt="">
        </div>
        <div class="pet_article_dowload_content_font">
          Amaze UI 以移动优先（Mobile first）为理念，从小屏逐步扩展到大屏，最终实现所有屏幕适配，适应移动互联潮流。
        </div>
        <div class="pet_article_dowload_all">
          <a href="###" class="pet_article_dowload_Az am-icon-apple"> App store</a>
          <a href="###" class="pet_article_dowload_Pg am-icon-android"> Android</a>
        </div>
      </div>
    </div>
    <!-- download -->

    <!-- footer -->
    <div class="pet_article_footer_info">Copyright(c)2015 PetShow All Rights Reserved</div>
    <!-- footer -->
  </div>
  <!-- main -->

  <script type='text/javascript' src='{{ static_url("js/jquery-3.1.0.min.js") }}' charset='utf-8'></script>
  <script type='text/javascript' src='{{ static_url("amazeui/js/amazeui.min.js") }}' charset='utf-8'></script>
  <script>
  $(function(){
    // 动态计算优酷土豆QQ视频等视频引用尺寸问题
    function auto_video(){
      var iframe_width = $('article > embed').width();
      $('article > embed').height(iframe_width/4*3);
      $('article > embed').css({'display':'block','margin':'20px auto'});
    }
    // 动态计算新闻列表文字样式
    auto_resize();
    auto_video();
    $(window).resize(function() {
      auto_resize();
      auto_video();
    });
    $('.am-list-thumb img').load(function(){
      auto_resize();
    });
    $('.pet_article_like li:last-child').css('border','none');
    function auto_resize(){
      $('.pet_list_one_nr').height($('.pet_list_one_img').height());
      // alert($('.pet_list_one_nr').height());
    }
    $('.pet_article_user').on('click',function(){
      if($('.pet_article_user_info_tab').hasClass('pet_article_user_info_tab_show')){
        $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_show').addClass('pet_article_user_info_tab_cloes');
      }else{
        $('.pet_article_user_info_tab').removeClass('pet_article_user_info_tab_cloes').addClass('pet_article_user_info_tab_show');
      }
    });

    $('.pet_head_gd_ico').on('click',function(){
      $('.pet_more_list').addClass('pet_more_list_show');
    });
    $('.pet_more_close').on('click',function(){
      $('.pet_more_list').removeClass('pet_more_list_show');
    });
  });
  </script>

</body>
</html>
