<!DOCTYPE HTML>
<html lang="en" class="ks-phone">
  <head>
    <meta charset="utf-8">
    <meta name="aplus-terminal" content="1" />
    <meta name="apple-mobile-web-app-title" content="Aplan" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="spm-id" content="a222t.7900232">
    <meta name="format-detection" content="telephone=no, address=no">

    <title>博客文章编辑</title>

    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/icon.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7-swiper.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7-swipeout.css') }}">
    <link rel="stylesheet" href="{{ static_url('weui/lib/weui.min.css') }}">

    <!-- customer css files -->
    <link rel="stylesheet" href="{{ static_url('css/nexus-ui.css') }}">
  </head>

  <body>
    <!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
    <div class="page-group">
      <!-- 单个page ,第一个.page默认被展示-->
      <div class="page page-current" id="page-activity-info">
        <!-- 标题栏 -->
        <header class="bar bar-nav">
          <a class="button button-link button-nav pull-left back" href="/blog">
            <span class="icon icon-left"></span>
          </a>
          <a class="button button-link button-nav pull-right" href="#">
            <span class="icon icon-edit"></span>
          </a>
          <h1 class="title">博客文章编辑</h1>
        </header>

        <!-- 这里是页面内容区 -->
        <div class="content">
          <div class="banner-head">
            <img src="/static/images/img05.jpg" class="banner-img" />

            <!-- 活动基本信息 -->
            <ul class="list_msg">
              <li>博客文章名称</li>
              <li>发布于: 9月6 星期五 15:15:28</li>
            </ul>
	        </div>

          <div class="card facebook-card">
            <div class="card-header">
            </div>
            <div class="card-content">
              <div class="content-block">
                <div class="row">
                  <div class="col-100">
                    <dl>
                      <dt><img src="/static/images/img07.jpg" width="100%"></dt>
                    </dl>
                  </div>
                </div>
                <div class="row">
                  <div class="col-100">
                  2015年09月20日，我向自己预约了这篇游记，当时我说： 10月的某天-10月的某天， 我计划去 黄山 ， 出发前，我敲下了这些文字： 就这样吧 牛背山 + 泸沽湖 的游记
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a href="#" class="link"><span class="icon icon-remove"></span></a>
              <a href="#" class="link"><span class="icon icon-down"></span></a>
              <a href="#" class="link"><span class="icon icon-up"></span></a>
              <a href="/blog/paragraph-edit" class="link"><span class="icon icon-edit"></span></a>
            </div>
          </div>
          <div class="content-block-title color-gray"><center>最后修改于: 2016年10月30日 19:28</center></div>

          <div class="card facebook-card">
            <div class="card-header">
            </div>
            <div class="card-content">
              <div class="content-block">
                <div class="row">
                  <div class="col-33">
                    <dl>
                      <dt><img src="/static/images/img02.jpg" width="100%"></dt>
                    </dl>
                  </div>
                  <div class="col-33">
                    <dl>
                      <dt><img src="/static/images/img04.jpg" width="100%"></dt>
                    </dl>
                  </div>
                  <div class="col-33">
                    <dl>
                      <dt><img src="/static/images/img02.jpg" width="100%"></dt>
                    </dl>
                  </div>
                </div>
                <div class="row">
                  <div class="col-100">
                  写在前面的话：此次游记感谢我的先生提供的所有的照片，非常棒，谢谢。 此次出行的时间、路线是由摄影师陈先生制定的，并在旅途中不断修正，看了最想看的美景，在国庆123这么出行人气爆棚的
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a href="#" class="link"><span class="icon icon-remove"></span></a>
              <a href="#" class="link"><span class="icon icon-down"></span></a>
              <a href="#" class="link"><span class="icon icon-up"></span></a>
              <a href="/blog/paragraph-edit" class="link"><span class="icon icon-edit"></span></a>
            </div>
          </div>
          <div class="content-block-title color-gray"><center>最后修改于: 2016年10月30日 17:16</center></div>

        </div> <!-- content -->
      </div> <!-- page -->

      <!-- 其他的单个page内联页（如果有） -->
      <!--
      <div class="page">...</div>
      -->
    </div> <!-- page group -->

    <!-- popup, panel 等放在这里 -->
    <div class="panel-overlay">
      <!-- 如果有 popup -->
      <div class="popup popup-about">...</div>
    </div>

    <!-- Left Panel with Reveal effect -->
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
        <p>这是一个侧栏</p>
        <p></p>
        <!-- Click on link with "close-panel" class will close panel -->
        <p><a href="#" class="close-panel">关闭</a></p>
      </div>
    </div>

    <script type='text/javascript' src='{{ static_url("js/jquery-3.1.0.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7-swiper.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7-swipeout.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7-city-picker.min.js") }}' charset='utf-8'></script>

    <!-- customer js files -->
    <script type='text/javascript' src='{{ static_url("js/blog-app.js") }}' charset='utf-8'></script>

  </body>
</html>
