<!DOCTYPE HTML>
<html class="ks-phone">
  <head>
    <meta charset="utf-8">
    <meta name="aplus-terminal" content="1" />
    <meta name="apple-mobile-web-app-title" content="Aplan" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="spm-id" content="a222t.7900232">
    <meta name="format-detection" content="telephone=no, address=no">

    <title>活动协议及免责条款</title>

    <link rel="stylesheet" href="{{ static_url('css/icon.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7-swiper.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7-swipeout.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/nexus-ui.css') }}">
  </head>

  <body>
    <!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
    <div class="page-group">
      <!-- 单个page ,第一个.page默认被展示-->
      <div class="page page-current">
        <!-- 标题栏 -->
        <header class="bar bar-nav">
          <a class="button button-link button-nav pull-left back" href="/mobile/acitivity-applicant">
            <span class="icon icon-left"></span>
          </a>
          <h1 class="title">活动协议及免责条款</h1>
        </header>

        <!-- 这里是页面内容区 -->
        <div class="content">
          <div class="article" style="clear:both; background-color:white;">
            <div class="content-padded">
              <div class="desc">
                <p>活动提示</p>

<p>1、本次活动遵循自愿参加、自担风险的原则，参加者必须对自己的安全负责，活动中发生意外，发起者和同行者有义务组织救援，但不承担任何法律和经济责任，特此声明！一旦你参加本次活动，本声明自动生效并表明你接受本声明，否则，请在活动开始前退出。&nbsp;</p>

<p>2、活动中声明人对于违犯国家相关法律法规、恶意侵犯他人或其它涉及危害社会稳定的犯罪行为的事件，不在此《自行车比赛免责声明书》范围内，必须由个人承担全部的法律责任。</p>

<p>3、凡报名参加比赛人员均视为你已经仔细阅读和完全理解并同意接受本提示及以下《自行车比赛免责声明书》的全部内容。</p>

<p>4、此声明为自愿参与比赛、风险自担及豁免比赛组委会和承办方因参赛人参与此次比赛或在参赛往返途中出现各种意外事故、突发气候变化和自身疾病等不可预测因素造成参赛人员身体损害时的任何责任。一旦勾选&ldquo;本人已阅读并知悉，同意以上规则&rdquo;在此声明上签字，就表示你已经完全知晓、理解和同意接受本提示及《自行车比赛免责声明书》全部条款。你在出现上述情形伤害时除接受组委会和承办方购买的保额范围内的赔偿外，不得再另行对组委会和承办人主张任何赔偿或追究其它责任。&nbsp;</p>

<p>5、凡参加比赛人员必须严格遵守组委会和承办方的相关规定，听从活动组织方的时间节点及地点的安排,如因迟到等个人原因导致未能参加比赛，报名费用不予退还。&nbsp;</p>

<p>6、当由于出现各种意外事故、突发气候变化和急性疾病等不可预测因素造成参赛人员身体损害时，承办方有义务尽力救助，但如果造成了不可逆转的损害，我将接受承办方赔偿保额范围以内的赔偿，并不再另行向比赛组委会和承办方主张赔偿或追究其它责任，同时我永远免除此次活动组委会和承办方的任何法律连带责任。&nbsp;</p>

<p>7、免责声明必须参加者本人确认，代为确认者视作已沟通并被授权，否则代确认者承担后果。未成年人参赛,未成年者必须由监护人签字。所有未成年人参加即表示其已获得父母、监护人等的同意或授权，所发生的一切后果由其本人或其父母或其监护人承担。</p>

<p>8、凡是报名参加比赛者均视为已经阅读、理解，并完全接受本协议条款；报名成功后，条款于比赛当日开始生效，至比赛结束时终止。（确认前和比赛结束后，已不属于本次比赛范围内）&nbsp;</p>

<p>
	<br>
</p>

<p>自行车比赛免责声明书</p>

<p>1、我同意此《自行车比赛声明书》，本人自愿参加此次比赛。&nbsp;</p>

<p>2、在此我谨声明我自己身体健康，适合参加本次活动，身体没有损伤、病痛、心脏病、突发病历或其它疾病；我理解并通过以下措施来减少我的风险：注意环境，注意我的身体和精神状况，注意所有与安全相关的衣物和装备的适用状况，我只参加那些自己精神和身体能力之内的活动；我清楚知道，我的安全是我个人的责任，并取决于我的警惕和良好的判断；我同意和保证，如果任何时候我认为是不安全的，那么我会立刻中断比赛的进行。如我在活动中发生各种疾病或伤害，甚至死亡，我同意接受承办方购买的保额范围内的赔偿并不再向此次活动组委会和承办人主张任何赔偿或追究其它责任。&nbsp;</p>

<p>3、我同意承担所有的个人受到伤害的风险，包括瘫痪和死亡，这些风险是可能发生在往返参加骑行比赛活动的途中，或者是在参加活动的时候。我清楚知道我已经被提供了自由选择的权利，可以选择往返活动地点的交通方式。我同意承担由于我选择了自己的交通方式往返比赛地点而引起的相关的风险和责任。&nbsp;</p>

<p>4、我知道承办方购买保险的意义，以防任何的伤害。&nbsp;</p>

<p>5、我知道如果由于我的行为和我的参加而直接导致了第三方的财产损失或个人伤害，我应当依法承担相关赔偿责任。&nbsp;</p>

<p>6、我同意对由于我参加活动而导致的我个人的意外事故，病痛和财产损失，组委会和承办方不承担法律责任。&nbsp;</p>

<p>7、我参加活动前，已经事先与我的家属沟通，取得家属的理解和支持，同时知道并同意该免责声明。&nbsp;</p>

<p>8、本人所提供的相关身份信息系本人真实且现行有效的证件。</p>

<p>9、本声明勾选&ldquo;本人已阅读并知悉，同意以上规则&rdquo;生效。代未成年子女确认此协议的父母和自然监护人或法定监护人在此承担被监护人所有行为的后果，同意免责条款并承担赔偿所有上述有关各方的所有债务、损失、费用、索赔或伤害，尽管这些赔偿责任可能缺乏如此行动和代表未成年人和父母或法定监护人免除上述各方责任的能力而强加给上述各方。</p>


              </div>
            </div>
          </div>
        </div> <!-- content -->
      </div> <!-- page -->

      <!-- 其他的单个page内联页（如果有） -->
      <div class="page">...</div>
    </div> <!-- page group -->

    <!-- popup, panel 等放在这里 -->
    <div class="panel-overlay">
      <!-- 如果有 popup -->
      <div class="popup popup-about">...</div>
    </div>

    <!-- Left Panel with Reveal effect -->
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
        <p>这是一个侧栏</p>
        <p></p>
        <!-- Click on link with "close-panel" class will close panel -->
        <p><a href="#" class="close-panel">关闭</a></p>
      </div>
    </div>

    <script type='text/javascript' src='{{ static_url("js/jquery.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7-swiper.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7-swipeout.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7-city-picker.min.js") }}' charset='utf-8'></script>

    <!-- 默认必须要执行$.init(),实际业务里一般不会在HTML文档里执行，通常是在业务页面代码的最后执行 -->
    <script>
      $.init()
    </script>

  </body>
</html>
