<!DOCTYPE HTML>
<html class="ks-phone">
  <head>
    <meta charset="utf-8">
    <meta name="aplus-terminal" content="1" />
    <meta name="apple-mobile-web-app-title" content="Aplan" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="spm-id" content="a222t.7900232">
    <meta name="format-detection" content="telephone=no, address=no">

    <title>富媒体编辑器</title>

    <link rel="stylesheet" href="{{ static_url('css/icon.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7-swiper.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7-swipeout.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/nexus-ui.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{static_url("froala_editor_2/css/froala_editor.css")}}">
    <link rel="stylesheet" href="{{static_url("froala_editor_2/css/plugins/code_view.css")}}">
    <link rel="stylesheet" href="{{static_url("froala_editor_2/css/plugins/colors.css")}}">
    <link rel="stylesheet" href="{{static_url("froala_editor_2/css/plugins/line_breaker.css")}}">
    <link rel="stylesheet" href="{{static_url("froala_editor_2/css/plugins/char_counter.css")}}">
  </head>

  <body>
    <!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
    <div class="page-group">
      <!-- 单个page ,第一个.page默认被展示-->
      <div class="page page-current">
        <!-- 标题栏 -->
        <header class="bar bar-nav">
          <a class="button button-link button-nav pull-left back" href="/light7">
            <span class="icon icon-left"></span>
          </a>
          <h1 class="title">富媒体编辑器</h1>
        </header>

        <!-- 这里是页面内容区 -->
        <div class="content">

          <form data-parsley-validate class="form-horizontal form-label-left">
            <textarea id='edit' style="margin-top: 30px;" placeholder="Type some text">
            </textarea>

            <div class="content-block">
              <div class="row">
                <div class="col-100">
                  <button type="submit" class="button button-big button-fill button-success">提交</button>
                </div>
              </div>
            </div>
          </form>

        </div> <!-- content -->
      </div> <!-- page -->

      <!-- 其他的单个page内联页（如果有） -->
      <!--
      <div class="page">...</div>
      -->
    </div> <!-- page group -->

    <!-- popup, panel 等放在这里 -->
    <div class="panel-overlay">
      <!-- 如果有 popup -->
      <div class="popup popup-about">...</div>
    </div>
    <!-- Left Panel with Reveal effect -->
    <div class="panel panel-left panel-reveal">
      <div class="content-block">
        <p>这是一个侧栏</p>
        <p></p>
        <!-- Click on link with "close-panel" class will close panel -->
        <p><a href="#" class="close-panel">关闭</a></p>
      </div>
    </div>

    <script type='text/javascript' src='{{ static_url("js/jquery.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7-swiper.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7-swipeout.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7-city-picker.min.js") }}' charset='utf-8'></script>

    <script type="text/javascript" src="{{static_url("froala_editor_2/js/froala_editor.min.js")}}"></script>
    <script type="text/javascript" src="{{static_url("froala_editor_2/js/plugins/align.min.js")}}"></script>
    <script type="text/javascript" src="{{static_url("froala_editor_2/js/plugins/colors.min.js")}}"></script>
    <script type="text/javascript" src="{{static_url("froala_editor_2/js/plugins/font_size.min.js")}}"></script>
    <script type="text/javascript" src="{{static_url("froala_editor_2/js/plugins/link.min.js")}}"></script>
    <script type="text/javascript" src="{{static_url("froala_editor_2/js/plugins/lists.min.js")}}"></script>
    <script type="text/javascript" src="{{static_url("froala_editor_2/js/plugins/paragraph_format.min.js")}}"></script>
    <script type="text/javascript" src="{{static_url("froala_editor_2/js/plugins/paragraph_style.min.js")}}"></script>
    <script type="text/javascript" src="{{static_url("froala_editor_2/js/plugins/url.min.js")}}"></script>
    <script type="text/javascript" src="{{static_url("froala_editor_2/js/plugins/char_counter.min.js")}}"></script>
    <script type="text/javascript" src="{{static_url("froala_editor_2/js/languages/zh_cn.js")}}"></script>

    <script>
      $(function(){
        $('#edit')
          .on('froalaEditor.initialized', function (e, editor) {
            $('#edit').parents('form').on('submit', function () {
              var html = $('#edit').val()
              console.log(html);
              alert(html);

              if (html == null || html == undefined || html == '') {
              	return false;
              } else {
    			      document.getElementById("content").value = html;
    			      document.getElementById("form1").submit();
                return true;
              }
            })
          })
        .froalaEditor({
  			  toolbarButtons : [ 'bold', 'italic', 'underline', 'strikeThrough', 'fontFamily', 'fontSize', 'subscript', 'superscript',
  			                    '|', 'color', 'emoticons', 'paragraphFormat', 'paragraphStyle',
  			                    '|', 'align', 'formatOL', 'formatUL', 'outdent', 'indent',
  			                    '|', 'insertLink', 'insertTable', 'insertHR',
  			                    '|', 'undo', 'redo', 'clearFormatting', 'html'],
  			  toolbarButtonsMD: [ 'bold', 'italic', 'underline', 'strikeThrough', 'fontFamily', 'fontSize',
  			                    '|', 'color', 'emoticons', 'paragraphFormat', 'paragraphStyle',
  			                    '|', 'align', 'formatOL', 'formatUL', 'outdent', 'indent',
  			                    '|', 'insertLink', 'insertHR',
  			                    '|', 'undo', 'redo', 'html'],
  			  toolbarButtonsSM: [ 'bold', 'italic', 'underline', 'fontFamily', 'fontSize',
  			                    '|', 'color', 'paragraphFormat', 'align', 'formatOL', 'formatUL',
  			                    '|', 'insertLink',
  			                    '|', 'undo', 'redo', 'html'],
  			  toolbarButtonsXS: [ 'bold', 'fontSize', '|',
  			                    'color', 'paragraphFormat', 'align', 'formatUL',
                            '|', 'insertLink'],
  			  enter: $.FroalaEditor.ENTER_P,
  			  // Set the language code.
  		    language: 'zh_cn',
  		    toolbarSticky: true,
        })
      });

      <!-- 默认必须要执行$.init(),实际业务里一般不会在HTML文档里执行，通常是在业务页面代码的最后执行 -->
      $.init()
    </script>

  </body>
</html>
