<!DOCTYPE HTML>
<html lang="en" class="ks-phone">
  <head>
    <meta charset="utf-8">
    <meta name="aplus-terminal" content="1" />
    <meta name="apple-mobile-web-app-title" content="Aplan" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="spm-id" content="a222t.7900232">
    <meta name="format-detection" content="telephone=no, address=no">

    <title>游记</title>

    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/icon.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7-swiper.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7-swipeout.css') }}">
    <link rel="stylesheet" href="{{ static_url('weui/lib/weui.min.css') }}">

    <!-- customer css files -->
    <link rel="stylesheet" href="{{ static_url('quill/quill.snow.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/nexus-ui.css') }}">
  </head>

  <body>
    <!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
    <div class="page-group">
      <!-- 单个page, 第一个.page默认被展示. 俱乐部首页 -->
      <div class="page page-current" id="page-club" >
        <!-- 标题栏 -->
        <header class="bar bar-nav">
          <a href="/journey/article-edit" class="button button-link button-nav pull-right">
            <span class="icon icon-edit"></span>
          </a>
          <h1 class="title">游记列表</h1>
        </header>

        <!-- 这里是页面内容区 -->
        <div class="content native-scroll">
          <div class="bd">
            <div class="weui_panel weui_panel_access">
              <div class="weui_panel_hd">图文组合列表</div>
              <div class="weui_panel_bd">
                <a href="/journey/article" class="weui_media_box weui_media_appmsg">
                  <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="/static/images/img02.jpg" alt="">
                  </div>
                  <div class="weui_media_bd">
                    <h4 class="weui_media_title">标题一</h4>
                    <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                  </div>
                </a>
                <a href="/journey/article" class="weui_media_box weui_media_appmsg">
                  <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="/static/images/img04.jpg" alt="">
                  </div>
                  <div class="weui_media_bd">
                    <h4 class="weui_media_title">标题二</h4>
                    <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                  </div>
                </a>
              </div>
              <a class="weui_panel_ft" href="javascript:void(0);">查看更多</a>
            </div>
          </div>

        </div> <!-- content -->
      </div> <!-- page -->
    </div> <!-- page group -->

    <script type='text/javascript' src='{{ static_url("js/jquery-3.1.0.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7-swiper.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7-swipeout.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7-city-picker.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/i18n/cn.js") }}' charset='utf-8'></script>

    <!-- fileinput -->
  	<script src="{{ static_url("upyun/js/spark-md5.min.js") }}"></script>
  	<script src="{{ static_url("upyun/js/async.js") }}"></script>
  	<script src="{{ static_url("upyun/js/upyun-mu.js") }}"></script>

    <!-- customer js files -->
    <script type='text/javascript' src='{{ static_url("quill/quill.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("js/journey-app.js") }}' charset='utf-8'></script>

  </body>
</html>
