<!DOCTYPE HTML>
<html lang="en" class="ks-phone">
  <head>
    <meta charset="utf-8">
    <meta name="aplus-terminal" content="1" />
    <meta name="apple-mobile-web-app-title" content="Aplan" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="spm-id" content="a222t.7900232">
    <meta name="format-detection" content="telephone=no, address=no">

    <title>编辑游记</title>

    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('weui/lib/weui.min.css') }}">
    <script type='text/javascript' src="{{ static_url('vux/vue-2.1.4.js') }}"></script>
    <script type='text/javascript' src='{{ static_url("js/jquery-3.1.0.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("js/jquery.lazyload.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7.min.js") }}' charset='utf-8'></script>


    <style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
    /* 可以设置不同的进入和离开动画 */
    /* 设置持续时间和动画函数 */
    .slide-fade-enter-active {
      transition: all .3s ease;
    }
    .slide-fade-leave-active {
      transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-active {
      padding-left: 10px;
      opacity: 0;
    }
    .list-item {
      display: block;
      margin-right: 10px;
    }
    .list-enter-active, .list-leave-active {
      transition: all 0.5s;
    }
    .list-enter, .list-leave-active {
      opacity: 0;
      transform: translateX(300px);
    }
    img{
      width: 100%;
      display: block;
      border:4px solid #ebebeb;
    }
    .row{
      margin-left: 0;
    }
    .row .col-100 {
      width: 100%;
      margin-left: 0%;
    }
    .row .col-66{
      width: 66.6666666%;
      margin-left: 0%;
    }
    .row .col-50{
      width: 50%;
      margin-left: 0%;
    }
    .row .col-33 {
      width: 33.333333333333332%;
      margin-left: 0%;
    }
    .row .col-90 {
      width: 90%;
      margin-left: 0%;
    }
    .row .col-10 {
      width: 10%;
      margin-left: 0%;
    }
    .grid-demo-two{
      margin:0.3rem 0.1rem;
    }
    </style>

  </head>

  <body>

    <!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
    <div class="page-group">
      <!-- 单个page ,第一个.page默认被展示-->
      <div class="page page-current" id="page-layout">
        <!-- 这里是页面内容区 -->
        <div class="content">

          <div id="main-form" class="grid-demo-two">
            <transition-group name="list" tag="ul" class="list-item">
              <li
                is="oneParagraph"
                v-for="(paragraph, idx) in paragraphs"
                v-bind:paragraph="paragraph"
                v-bind:idx="idx"
                :key="paragraph"
              ></li>
            </transition-group>
            <div class="weui_btn_area">
              <a @click="submit" class="weui_btn weui_btn_primary">Submit</a>
            </div>
          </div> <!-- main-form -->

        </div> <!-- content -->
      </div> <!-- page -->
    </div> <!-- page group -->

    <script>
      Vue.component('oneParagraph', {
        template: '\
        <div>\
          <h4>{{! paragraph.title }}</h4>\
          <div v-if="paragraph.gallery == 1 && paragraph.type == 0" class="row">\
            <div class="col-100 no-gutter">\
              <img class="lazy" src="http://bighorn.b0.upaiyun.com/blog/2016/11/2/b8fb1152-ddd3-48ec-80dd-470cb66f56fb!600x300"/>\
            </div>\
          </div>\
          <div v-else-if="paragraph.gallery == 2 && paragraph.type == 0" class="row">\
            <div class="col-50 no-gutter">\
              <img class="lazy" src="http://bighorn.b0.upaiyun.com/blog/2016/11/2/086587c3-f6c5-40e7-8ca0-e12f571cf5d8!300x300"/>\
            </div>\
            <div class="col-50 no-gutter">\
              <img class="lazy" src="http://bighorn.b0.upaiyun.com/blog/2016/11/2/1a591303-f033-44fc-92cd-8e86e2da5aaa!300x300"/>\
            </div>\
          </div>\
          <div v-else-if="paragraph.gallery == 2 && paragraph.type == 1" class="row">\
            <div class="col-100 no-gutter">\
              <img class="lazy" src="http://bighorn.b0.upaiyun.com/blog/2016/11/2/086587c3-f6c5-40e7-8ca0-e12f571cf5d8!600x300"/>\
            </div>\
          </div>\
          <div class="row">\
            <div class="col-100 no-gutter">\
              <img class="lazy" src="http://bighorn.b0.upaiyun.com/blog/2016/11/2/1a591303-f033-44fc-92cd-8e86e2da5aaa!600x300"/>\
            </div>\
          </div>\
          <div class="row">\
            <transition>\
              <textarea v-if="paragraph.edit" v-model="paragraph.content"></textarea>\
              <p v-else="paragraph.show">{{! paragraph.content }}</p>\
            </transition>\
          </div>\
          <div class="row">\
            <div class="col-90 no-gutter">\
              &nbsp;\
            </div>\
            <div class="col-10 no-gutter">\
              <a v-on:click="paragraph.show = !paragraph.show">...</a>\
            </div>\
          </div>\
          <transition name="fade">\
            <p v-if="paragraph.show">\
              <button @click="up">up</button>\
              <button @click="down">down</button>\
              <button @click="add">add</button>\
              <button @click="remove">remove</button>\
              <button @click="edit">edit</button>\
              <button @click="save">save</button>\
            </p>\
          </transition>\
        </div>\
        ',
        props: ['idx', 'paragraph'],
        methods: {
          up () {
            console.log('idx', this.idx);
            if (this.idx > 0) {
              console.log('paragraphs', this.$parent.$parent.paragraphs);
              this.paragraph.moving = true;
              // 删除自己
              this.$parent.$parent.paragraphs.splice(this.idx, 1);

              var paragraphs = this.$parent.$parent.paragraphs;
              var paragraph = this.paragraph;
              var idx = this.idx;

              var wait = 5; // 0.5s
              function time(t) {
                console.log('wait', wait);
                if (wait == 0) {
                  paragraphs.splice(idx - 1, 0, paragraph);
                } else {
                  wait--;
                  setTimeout(function () { time(t) }, 100)
                }
              }
              time(wait);
            }
          },
          down () {
            console.log('idx', this.idx);
            console.log('paragraphs', this.$parent.$parent.paragraphs);
            if (this.idx < this.$parent.$parent.paragraphs.length - 1) {
              // 删除自己
              this.$parent.$parent.paragraphs.splice(this.idx, 1);

              var paragraphs = this.$parent.$parent.paragraphs;
              var paragraph = this.paragraph;
              var idx = this.idx;

              var wait = 5; // 0.5s
              function time(t) {
                console.log('wait', wait);
                if (wait == 0) {
                  paragraphs.splice(idx + 1, 0, paragraph);
                } else {
                  wait--;
                  setTimeout(function () { time(t) }, 100)
                }
              }
              time(wait);
            }
          },
          edit () {
            this.paragraph.edit = true;
          },
          save () {
            this.paragraph.edit = false;
          },
          add () {
            console.log(this.$parent.$parent);
            data = {"title":"titleN", "content":"contentN", "show":true, "edit":false, "moving":false};
            // 删除自己
            this.$parent.$parent.paragraphs.splice(this.idx, 0, data);
          },
          remove () {
            console.log(this.$parent.$parent);
            // 删除自己
            this.$parent.$parent.paragraphs.splice(this.idx, 1);
          },
        }
      })

      var vm = new Vue({
        el: '#main-form',
        data () {
          return {
            paragraphs: [],
          }
        },
        created: function () {
          this.paragraphs = [
            {"title":"title1", "content":"content1",
              "show":false, "edit":false, "moving":false,
              "gallery":1, "type":0,
              "imgs":["http://bighorn.b0.upaiyun.com/blog/2016/11/2/b8fb1152-ddd3-48ec-80dd-470cb66f56fb!600x300"]
            },
            {"title":"title2", "content":"content2",
              "show":false, "edit":false, "moving":false,
              "gallery":2, "type":0,
              "imgs":[
                "http://bighorn.b0.upaiyun.com/blog/2016/11/2/086587c3-f6c5-40e7-8ca0-e12f571cf5d8!300x300",
                "http://bighorn.b0.upaiyun.com/blog/2016/11/2/1a591303-f033-44fc-92cd-8e86e2da5aaa!300x300"
              ]
            },
            {"title":"title3", "content":"content3",
              "show":false, "edit":false, "moving":false,
              "gallery":2, "type":1,
              "imgs":[
                "http://bighorn.b0.upaiyun.com/blog/2016/11/2/086587c3-f6c5-40e7-8ca0-e12f571cf5d8!600x300",
                "http://bighorn.b0.upaiyun.com/blog/2016/11/2/1a591303-f033-44fc-92cd-8e86e2da5aaa!600x300"
              ]
            },
          ];
        },
        methods: {
          submit () {
            console.log('paragraphs', this.paragraphs);
          },
        }
      })
    </script>

<script>
$(function () {
  //页面初始化
  $(document).on("pageInit", "#page-layout", function(e, id, page) {

    $('img.lazy').lazyload( {
      container: $(".content"),
  //      threshold: 100,                    //当图片顶部距离显示区域还有100像素时，就开始加载
      placeholder: "/static/images/grey.gif",      // 图片未加载时，占位
      effect_speed: 1000,                // 效果出现的时间
      effect: "fadeIn",               // 图片出现的效果，值有show(直接显示),fadeIn(淡入),slideDown(下拉)
  //      event: 'touchstart',                   // 滚动滚轮时触发，可以是：click、mouseover等
  //      data_attribute: 'data-original',   // img标签中保存url的自定义属性，默认：data-original
      skip_invisible: true,              // 是否跳过已经隐藏的图片（display:none）
      failure_limit: 2,                  // 由于延迟加载是根据Dom从上到下执行
                                         // 如果遇到Dom位置在上，但是图片定位在下导致看不到，那么会以为之后的图片不在应用延迟加载
                                         // 此处的failure_limit用于限制如果出现N个【Dom位置在上，但是图片定位在下】才终止
      appear: function(){                // 当图片位置刚出现在视图时，触发此事件
        $(this).attr('src');
        //$(this).attr('src', $(this).attr('data-original'));
      },
      load: function(){                  // 当图片路径加载之后，触发此事件
        $(this).attr('src');
        //$(this).attr('src', $(this).attr('data-original'));
      }

    });

  });
});
</script>

  </body>
</html>
