<!DOCTYPE HTML>
<html lang="en" class="ks-phone">
  <head>
    <meta charset="utf-8">
    <meta name="aplus-terminal" content="1" />
    <meta name="apple-mobile-web-app-title" content="Aplan" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="spm-id" content="a222t.7900232">
    <meta name="format-detection" content="telephone=no, address=no">

    <title>博客文章</title>

    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('weui/lib/weui.min.css') }}">

    <!-- customer css files -->
    <link rel="stylesheet" href="{{ static_url('css/nexus-ui.css') }}">
  </head>

  <body>
    <!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
    <div class="page-group">
      <!-- 单个page ,第一个.page默认被展示-->
      <div class="page page-current" id="page-activity-info">
        <!-- 标题栏 -->
        <header class="bar bar-nav">
          <a class="button button-link button-nav pull-left" href="/blog/articles">
            <span class="icon icon-left"></span>
          </a>
          <a class="button button-link button-nav pull-right" href="/blog/articles/{{ article['_id'] }}/edit">
            <span class="icon icon-edit"></span>
          </a>
          <h1 class="title">博客文章</h1>
        </header>

        <!-- 工具栏 -->
        <!--
        <div class="bar bar-standard bar-footer">
          <a class="icon icon-edit pull-left" href="/blog/articles/{{ article['_id'] }}/edit"></a>
        </div>
      -->

        <!-- 这里是页面内容区 -->
        <div class="content">
          <div class="bd">
            <div class="weui_panel">
              <div class="weui_panel_bd">
                <img src="{{ article['image'] }}" class="banner-img" />

                <div class="weui_media_box weui_media_text">
                  <h4 class="weui_media_title">{{ article["title"] }}</h4>
                  <p class="weui_media_desc">{{ article["desc"] }}</p>
                  <ul class="weui_media_info">
                    <li class="weui_media_info_meta">{{ article["publish_time"] }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="bd">
            <article class="weui_article">
{% if article.has_key('paragraphs') %}
              	{% raw article["paragraphs"] %}
{% end %}
            </article>
          </div>

        </div> <!-- content -->
      </div> <!-- page -->

      <!-- 其他的单个page内联页（如果有） -->
      <!--
      <div class="page">...</div>
      -->
    </div> <!-- page group -->

    <script type='text/javascript' src='{{ static_url("js/jquery-3.1.0.min.js") }}' charset='utf-8'></script>
    <script type='text/javascript' src='{{ static_url("light7/js/light7.min.js") }}' charset='utf-8'></script>

    <!-- fileinput -->
  	<script src="{{ static_url("upyun/js/spark-md5.min.js") }}"></script>
  	<script src="{{ static_url("upyun/js/async.js") }}"></script>
  	<script src="{{ static_url("upyun/js/upyun-mu.js") }}"></script>

    <!-- customer js files -->
    <script type='text/javascript' src='{{ static_url("js/blog-app.js") }}' charset='utf-8'></script>

  </body>
</html>
