<!DOCTYPE HTML>
<html>
	<head>
		<title>QRcode</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/static/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>


		<!-- Four -->
			<section id="four" class="main">
				<div class="container">
					<div class="content">
						<header class="major">
							<h2>Create QR Code</h2>
						</header>

						<section>
							<form method="post" action="/qrcode">
								<div class="row uniform">
									<div class="12u$">
										<textarea name="url" id="url"
											placeholder="Enter your URL" rows="6" required="">
										</textarea>
									</div>
									<div class="12u$">
										<ul class="actions fit">
											<li><a onclick="SubmitReset();" class="button fit">Reset</a></li>
											<li><a onclick="SubmitQrcode();" class="button special fit">Done</a></li>
										</ul>
									</div>
								</div>
							</form>
						</section>

						<section>
							<div class="box alt">
								<div class="row uniform 50%">
									<div class="12u"><span class="image fit" id="qrcodeimg">
										<img src="static/images/pic04.jpg" alt="" />
									</span></div>
								</div>
							</div>
						</section>

					</div>
					<a href="#footer" class="goto-next scrolly">Next</a>
				</div>
			</section>

			<!-- Three -->
				<section id="three" class="main">
					<div class="container">
						<div class="content">
							<header class="major">
								<h2>API</h2>
							</header>

							<blockquote>
								<p>http://qrcode.7x24hs.com/api/qrcode</p>
								<p>mothed: post</p>
								<p>body: {"url":"your_url"}</p>
								<p>response: qrcode_url</p>
							</blockquote>

						</div>
						<a href="#footer" class="goto-next scrolly">Next</a>
					</div>
				</section>

		<!-- Footer -->
			<section id="footer">
				<div class="container">
					<header class="major">
						<h2>Get in touch</h2>
					</header>
					<form method="post" action="#">
						<div class="row uniform">
							<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
							<div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email | Phone" /></div>
							<div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
							<div class="12u$">
								<ul class="actions">
									<li><a onclick="SubmitSend();" class="button special fit">Send Message</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
				<footer>
					<ul class="icons">
						<li><a href="http://weibo.com/sedums" class="icon alt fa-weibo"><span class="label">Weibo</span></a></li>
						<li><a href="https://www.linkedin.com/in/璟天-张-33a65a102" class="icon alt fa-linkedin"><span class="label">Linkedin</span></a></li>
						<li><a href="https://github.com/ThomasZh/backbone" class="icon alt fa-github"><span class="label">Github</span></a></li>
						<li><a href="2677269755" class="icon alt fa-qq"><span class="label">QQ</span></a></li>
						<li><a href="mailto:support@7x24hs.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; 2016 7x24hs.com</li>
					</ul>
				</footer>
			</section>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/jquery.scrollex.min.js"></script>
			<script src="/static/js/jquery.scrolly.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/js/main.js"></script>
			<script src="/static/js/jquery.json.min.js"></script>

			<script type="text/javascript">
				function SubmitQrcode() {
					var url = $("#url").val();
					var data = {'url' : url};
					console.log(data);
					_json = $.toJSON(data);

					// $.ajax({
					//   'type': 'POST',
					//   'url': "/api/qrcode",
					//   'data': data,
					//   'success': { alert("second success"); },
					//   'dataType': "json"
					// });

					$.post("/api/qrcode", _json, function(result){
						console.log( "success: " + result );
					}, 'json')
					.done(function(result) {
						console.log( "second success: " + result );
  				})
  				.fail(function(result) {
    				console.log( "error: " + result );
  				})
  				.always(function(result) {
						console.log(result.responseText);
						document.getElementById("qrcodeimg").innerHTML = '<img src="' + result.responseText + '"/>';
					});
				}

				function SubmitReset() {
					$("#url").val("");
				}

				function SubmitSend() {
					var name = $("#name").val();
					var email = $("#email").val();
					var message = $("#message").val();
					$.post("http://kit.7x24hs.com/api/kits", {"name":name, "email":email, "message":message}, function(result){
						alert('Send message success!');
						$("#name").val("");
						$("#email").val("");
						$("#message").val("");
					});
				}
			</script>

	</body>
</html>
