<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>System Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  </head>

  <body>
    <div class="content content-noscroll">
      <div class="weui_msg">
        <div class="weui_text_area">
          <h2 class="weui_msg_title">{{ sys_error['app'] }}</h2>
          <p class="weui_msg_desc">{{ sys_error['sys'] }}</p>
          <p class="weui_msg_desc">{{ sys_error['level'] }}</p>
          <p class="weui_msg_desc">{{ sys_error['create_time'] }}</p>
          <p class="weui_msg_desc">{{ sys_error['message'] }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
