/*公共*/

.page{
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}
.list_msg .icon1 b{
	padding-right:5px;
	font-size:0.9rem;
}
p{
    margin: 0;
}
.desc{
/*    line-height: 1.8rem;*/
}
.desc img{
  width:100%;
}
.swiper-slide a img{
    display: inherit;
}
.enroll{
	margin-left:3%;
	margin-bottom:3%;
}
.banner-head{
	background:white;
}

.swiper-container1{
    overflow: hidden;
    margin-bottom: 15px;
}
.swiper-container1 .swiper-wrapper{
    margin-left: 3%;
}

.list_msg{
	list-style:none;
	-webkit-padding-start:3%;
	-webkit-margin-before:0;
}
.list_msg li span{
	padding-right:6px;
}
.img-size{
    width: 100%;
}
.content-block.content-float{
    clear: both;
}
.list-block{
	margin:0;
}
.list-block .item-content-dis{
    padding: 0;
}
.list-block .item-media+.item-inner-dis{
    margin: 0;
}
.list-block-dis{
    margin: 0;
}
/*club-logo*/
.icon11{
    position: absolute;
    top: 8rem;
    left: 0.75rem;
    color: white;
}
.icon1{
    color: #ffc568;
}
.club-logo{
    position: absolute;
    left: 0.75rem;
    top: 0.75rem;
}
.club-logo img{
    width: 30%;
    border:1px solid white;
    border-radius: 5px;
}
.bookmarks{
    position:absolute;
    right:0;
    top:0.75rem;
    padding:3px 6px;
    font-size:0.9rem;
    color:#fff;
}
.bookmarks::after {
    position: absolute;
    top: 0px;
    left: -17px;
    content: '';
    /*border-top-left-radius: 7px;*/
}
.bookmarks::before {
    position: absolute;
    bottom: 0px;
    left: -17px;
    content: '';
    /*border-bottom-left-radius: 7px;*/
}
.green {
    background:#8cdd6f;
}
.green::after {
    border: 9px solid #8cdd6f;
    border-color: #8cdd6f #8cdd6f transparent transparent;
}
.green::before {
    border: 9px solid #8cdd6f;
    border-color:  transparent #8cdd6f #8cdd6f transparent ;
}
.grey {
    background:#dddddd;
}
.grey::after {
    border: 9px solid #dddddd;
    border-color: #dddddd #dddddd transparent transparent;
}
.grey::before {
    border: 9px solid #dddddd;
    border-color:  transparent #dddddd #dddddd transparent ;
}



.article .bm{
    position:relative;
    padding:6px 12px 6px 12px;
    background:#F5A623 ;
    color:#fff;
    display:inline-block;
    font-size: 16px;
    margin-right: 22px;
}
.article .bm::after {
    position: absolute;
    top: 0px;
    right: -17px;
    content: '';
    border: 9px solid #F5A623;
    border-color: #F5A623 transparent transparent #F5A623 ;
    /*border-top-right-radius: 4px;*/
}
.article .bm::before {
    position: absolute;
    bottom: 0px;
    right: -17px;
    content: '';
    border: 9px solid #F5A623;
    border-color: transparent transparent #F5A623 #F5A623 ;
    /*border-bottom-right-radius: 4px;*/
}

/*button*/
.bar-dis{
	padding:0;
}
.col-100.col-100-dis{
    width: 100%;
    margin: 0;
}
.col-50.col-50-dis{
	width:50%;
	margin:0;
}
.button.button-apply{
	border-radius:0;
}
.button.button-apply-one{
	border-radius:0;
	background:#efeff4;
	color:black;
}
.bar-tab{
    height: 2.4rem;
}
.button-fill.button-full {
  color: white;
  border-radius: 0;
  height: 2.4rem;
  line-height: 2.3rem;
}
.bar .button{
    top: 0;
}
/*图片轮播swiper*/
.swiper-content-block{
    margin: 0;
    padding: 0;
}
.list-content-block{
    margin:0;
}
/*img*/
.banner-img{
    width: 100%;
}
.image img {
   display: block;
}

.image.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.left, .image.right {
    max-width: 40%;
}

.image.left img, .image.right img {
    width: 100%;
}
/*列表list*/
.content-block-title{
    margin: 0.75rem;
}
.item-media-img{
    width: 1.6rem;
    border-radius: 50%;
}
.no-border-grid-panel{
  text-align: center;
  font-size: 0.7rem;
  background: white;
  height: 3.5rem;
  padding-top: 0.5rem;
}

.theme-dark .no-border-grid-panel,
.no-border-grid-panel.theme-dark {
  color: #bbb;
  background: black;
}

.theme-dark .weui_grids .weui_grid_label,
.weui_grids .weui_grid_label .theme-dark {
  color: #bbb;
}

.list-content-block{
    padding: 0;
}
.list-content-padded{
    margin: 0;
}
/*左图右文*/
.main-list{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  background: white;
}
.main-list-dl{
    -webkit-margin-before:0;
    -webkit-margin-after:0;
}
.main-list .left-img{
  width: 40%;
  float: left;
}
.left-img img{
  width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.right-text{
   display:-webkit-box;
   -webkit-box-orient:vertical;
}
.right-text p{
   margin: 0;
}
.right-text p:first-child{
  font-size: 14px;
  /*white-space: nowrap;*/
  overflow: hidden;
  -webkit-line-clamp:2;
  text-overflow: ellipsis;
  height: 40px;
  margin-top: 6px;
  font-weight: bold;
}
.right-text p:nth-child(2){
  font-size: 12px;
  padding-top: 7px;
}
.min-icon{
  display: -webkit-box;
  width: 100%;
  -webkit-box-pack:justify;
  font-size: 12px;
  padding-top: 4px;
}
.min-icon span{
  -webkit-box-flex:1;
  display: block;
}
.min-icon img{
  width: 13px;
  margin-right: 5px;
}
/*四个卡片*/
.content-block-card{
    padding: 0;
}
.shoe{
  font-size: 0.6rem;
  -webkit-margin-start:0.5rem;
}
.money-two{
  color: rgb(255,80,0);
  font-size: 0.6rem;
  -webkit-margin-start:0.6rem;
}

/*卡片card*/
.list-block .list-item-content{
    padding-left: 0;
}
.mui-price {
    color: #dd2727;
    font-size: 0.5rem;
}


.mui-price.gray {
    color: #999;
    font-size: 10px;
    text-decoration: line-through
}
.item-3c {

    width: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    position: relative
}

.item-3c em,
.item-3c i {
    font-style: normal
}

.item-3c .item-3c-block {
    display: block;
    overflow: hidden;
    text-decoration: none;
    background: #fff;
    padding-left: 125px;
    padding-right: 3px;
    height: 125px;
    position: relative;
    color: #000
}

.item-3c .item-3c-bottom-border {
    position: absolute;
    left: 125px;
    bottom: 0;
    right: 0;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

.item-3c .item-3c-block-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 125px;
    height: 125px
}

.item-3c .item-3c-block-img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.item-3c .item-3c-block-img .logo {
    width: 30px;
    height: 30px;
    left: 10px;
    top: 10px;
    position: absolute;
    z-index: 888
}

.item-3c .item-3c-title {
    margin: 9px 9px 0;
    font-size: 0.6rem;
    color: #051b28;
    height: 24px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical
}

.item-3c .item-3c-monthsell,
.item-3c .item-3c-subTitle {
    height: 20px;
    line-height: 20px;
    margin: 9px 9px 0;
    font-size: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical
}

.item-3c .item-3c-subTitle {
    color: #DD2727
}

.item-3c .item-3c-monthsell {
    color: #999
}

.item-3c .item-3c-price {
    margin: 9px;
    position: absolute;
    left: 125px;
    bottom: -10px;
    font-family: Helvetica, sans-serif
}

.item-3c .item-3c-price .block {
    display: block
}

.item-3c .promit .mui-price-inter {
    font-size: 0.7rem;
}

.item-3c .promit i {
    font-family: Arial
}

.item-3c .origin .mui-price-inter {
    font-size: 0.4rem;
}

.item-3c .item-3c-btnarea {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 3px;
    margin-bottom: 3px
}

.item-3c .item-3c-btn {
    padding: 5px 9px;
    margin: 9px;
    border: 1px solid #dd2727;
    color: #dd2727;
    font-size: 0.6rem;
    text-align: center;
    border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px
}

.item-3c.hasCoupon .coupon,
.item-3c.hasCoupon .item-3c-btnarea {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    display: block
}

.item-3c.hasCoupon .item-3c-btnarea {
    position: static;
    margin: 9px 0 9px 4px
}

.item-3c.hasCoupon .item-3c-btn {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    padding: 5px 0;
    margin: 0
}
/*icon*/
.icon-size{
    font-size:1rem;
}
.icon-list{
    float: left;
    padding-right: 2px;
}
.blockquote{
    -webkit-margin-start:0;
    padding-left: 1rem;
    border-left: 6px solid #ddd;
}
/*table*/
table {
        border-collapse: collapse;
        border-spacing: 0;
    }
.table-wrapper {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        margin:0 15px;
    }

table {
    margin: 0 0 2em 0;
    width: 100%;
}

table tbody tr {
    border: solid 1px #dddddd;
    border-left: 0;
    border-right: 0;
}

    table tbody tr:nth-child(2n + 1) {
        background-color: rgba(144, 144, 144, 0.075);
    }

table td {
    padding: 0.75em 0.75em;
}

table th {
    color: #61686b;
    font-size: 0.9em;
    font-weight: 700;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
}

table thead {
    border-bottom: solid 2px #dddddd;
}

table tfoot {
    border-top: solid 2px #dddddd;
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border: solid 1px #dddddd;
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}



.page-settings .person-card {
  margin: .6rem 0;
}
.page-settings .row {
  border: 1px solid #ccc;
  background: white;
  border-left: 0;
  border-right: 0;
}

.theme-dark .page-settings .row,
.page-settings .row .theme-dark {
  color: #bbb;
  background: black;
}

.page-settings .row h4 {
  margin: 0.3rem 0;
}
.page-settings .row .color-gray {
  margin: 0.3rem 0;
  font-size: 0.7rem;
}

.page-settings .col-25 + .col-25 {
  border-left: 1px solid #ccc;
}

.page-settings .person-card img {
  border-radius: 100%;
}

.page-settings .person-card ul{
  background: transparent;
}
.page-settings .person-card .item-text {
  height: auto;
}
.page-settings .person-card ul:before,
.page-settings .person-card ul:after {
  display: none;
}
.page-settings .list .icon {
  font-size: 1rem;
}



/*
 * 精彩瞬间
 */
.img_structure{
    width: 100%;
/*    height: 110%;*/
/*    overflow: hidden;*/
}
.instantaneous_box{
    width: 100%;
    background: #fff;
    margin: 0 auto;
/*    overflow: hidden;*/
}
.instantaneous_box span{
    position: relative;
    display: block;
     float: left;
   width: 33.3%;
}
.instantaneous_big span:before{
    display: block;
/*    padding-top:55.8%;*/
/*    overflow: hidden;*/
    width: 0;
    content: '';
}
.instantaneous_box a{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
/*    position: absolute;*/
    width: 99%;
    margin: 0 0 0 0;
    margin-bottom: 0;
}
.instantaneous_box .instantaneousspan01 img{
  width: 100%;
  height: 100%;
    border: 0.5px solid #ebebeb;
}

.weui_grid_2 {
  position: relative;
  float: left;
  padding: 20px 50px;
  width: 50%;
  box-sizing: border-box;
}
.weui_grid_2:before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
  border-bottom: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.weui_grid_2:nth-child(2n):before {
  border-right-width: 0;
}
.weui_grid_2:active {
  background-color: #E4E4E4;
}

.weui_grid_4 {
  position: relative;
  float: left;
  padding: 20px 10px;
  width: 25%;
  box-sizing: border-box;
}

.weui_grid_photo {
  margin: 0 auto;
  max-width:100%;
  height:auto;
}
.weui_grid_photo img {
  max-width:170px;
  width:170px;
  width:expression(document.body.clientWidth>170?"170px":"auto");
  max-height:180px;
  height:180px;
  height:expression(document.body.clientWidth>180?"180px":"auto");
  overflow:hidden;
  /*display: block;
  width: 100%;
  height: 100%;*/
}
